.body {
  background-image: linear-gradient(orange, #232323);
  width: auto;
  height: 100vh;
}
.gTitle {
  font-size: 75px;
  font-weight: 400;
  text-align: center;
  color: #686663;
  margin: auto;
  text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;
  font-family: 'Roboto Condensed', sans-serif; 
  letter-spacing: 2px;
}